@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HakgyoansimGeurimilgi';
  src: url('./fonts/Hakgyoansim Geurimilgi OTF R.otf') format('opentype'),
       url('./fonts/Hakgyoansim Geurimilgi TTF R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
}

.pt-safe {
  padding-top: env(safe-area-inset-top, 0px);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.pl-safe {
  padding-left: env(safe-area-inset-left, 0px);
}

.pr-safe {
  padding-right: env(safe-area-inset-right, 0px);
}

body, * {
  font-family: 'HakgyoansimGeurimilgi', sans-serif;
}
